img{
    width:100%;
}


.wood{
    font-style: italic;
    color: green;
    text-align: center;
    padding-right: 500px;
    

}
.first{
    background-image: url('../images/img.jpg');
    height:500px
}

.beautiful{
    color: azure;
    text-align: center;
    
}
.welcome
{
    color:orangered;

}
.brook
{
    color:green;
}
.second
{
    background-image: url('../images/img2.jpg');
    height: 300px;
}
.our
{
    color: white;
}

.acco{
    color:green;
    text-align: center;
}

.mountain{
    text-align: center;
}
.first1
{
    width:50%
    }