img{
    width:100%
}
.bg{
    background-image: url(../css/images/c11.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;

}
.loremm{
    color: aliceblue;
}
.time{
    color: rgb(180, 180, 23);

}
.coffee
{
    color: white;
}
.order{
    color: rgb(241, 241, 33);
    border-style: solid;
    background-color: transparent;
    padding: 2%;
    
}
.services{
    color: rgb(230, 161, 35);
}
.bean{
    border-radius: 50%;
    width:40%
}
.bean1{
    border-radius: 50%;
    width:30% ;
   
}

.menu{
    color: rgb(235, 235, 59);
    text-align: center;

}
.last{
  
}

.b1{
    padding:4%;
}
.final{
background-color: black;
padding-left: 100px;
color: aliceblue;
}
.final h2, .final p{
    color: white;
}
.bi{
    color: rgb(201, 56, 19);
   
}
.thirty
{
    font-size: 15px;
}
.web{
    min-height: 400px;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Italianno&display=swap');
.font{
    font-family: 'Regular 400';
}
.one{
    border-bottom: 2px solid white;
    
}